<h2>Produkte hinzufügen</h2>


<div class="form-group">
    <div>
        <label for="Produktname">Produktname</label>
        <input class="form-control" ngModel name="Produktname">
    </div>
    <div>
        <label for="Produktgröße">Produktgröße</label>
        <input class="form-control" ngModel name="Produktgröße">
    </div>
    <div>
        <label for="Produktpreis">Produktpreis</label>
        <input class="form-control" ngModel name="Produktpreis">
    </div>

    <button class="btn-success">hinzufügen</button>
</div>
<hr>

<h2>Produkte löschen</h2>