<h2>Produkte hinzufügen</h2>
<form #f="ngForm"
    (submit)="addProduct(name.value, size.value, price.value, purchase.value, f)"
    class="form-group">

    <div class="row">
        <div class="col">
            <label for="Produktname">Produktname</label>
            <input required #name type="text" class="form-control"
                [(ngModel)]="productName" name="Produktname">
        </div>
        <!-- oninput="validity.valid||(value='');" -->
        <div class="col">
            <label for="Produktgröße">Produktgröße in Liter</label>
            <input required #size type="number" class="form-control"
                [(ngModel)]="productSize" name="Produktgröße">
        </div>
    </div>
    <div style="margin-top: 5%" class="row">
        <div class="col">
            <label for="Produktpreis">Verkaufspreis in €</label>
            <input required #price type="number" class="form-control"
                [(ngModel)]="productPrice" name="Produktpreis">
        </div>

        <div class="col">
            <label for="Produktpreis">Einkaufspreis in € <i
                    style="color: lightgray">(optional)</i></label>
            <input #purchase type="number" class="form-control"
                [(ngModel)]="productPurchase" name="Produktpreis">
        </div>
    </div>
    <button [disabled]="f.invalid" class="btn-success">hinzufügen <i
            class="far fa-hand-point-up"></i></button>
</form>
<hr>

<h2>Produkte löschen</h2>
<div class="products navbar">
    <button mat-button [ngStyle]="{backgroundColor: getColor(i)}"
        class="btn btn-secondary button"
        *ngFor="let name of produkteName; let i = index;" [id]="name"
        (click)="deleteProductOverlay(name)"
        [ngClass]="{'long': (name.length > 8), 'verylong': (name.length > 14)}">{{name}}
    </button>
</div>

<div #overlay id="deleteOverlay" class="overlay fade-in">
    <!-- the currently displayed product -->
    <h1 #title class="title" id="title"></h1>
    <!-- Button to close the overlay -->
    <a href="javascript:void(0)" class="closebtn" (click)="off(overlay)">&times;</a>
    <!-- Overlay content -->
    <h6 style="margin-top: 1.5em" class="title">Größe löschen</h6>

    <div style="margin-top: 5%;" class="overlay-content">
        <!-- show only the sizes for the coresponding product  -->
        <ng-container *ngFor="let item of produkte" class="navbar">
            <button *ngIf="item.Art == title.innerHTML" class="btn btn-danger"
                (click)="confirm(item)">{{item.Groesse}} L
            </button>
        </ng-container>
    </div>
</div>