h2 {
    margin-left: 5%;
    font-size: 300%;
}

.form-group {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

label {
    font-size: 150%;
}

.field{
    margin-top: 1vw; 
}

.btn-success {
    margin-top: 5%;
    border-radius: 25px;
    text-align: center;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-bottom: 0.25em;
    font-size: 3em;
    border: 1px solid black;
}

.btn-secondary {
    color: black;
    border-radius: 25px;
    border: solid 1px black;
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 40px;
}

.btn-danger{
    color: black;
    border-radius: 25px;
    border: solid 1px black;
    height: 100px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 40px;
}

.btn-primary {
    font-size: 3em;
    margin-top: 0.2em;
}

.navbar {
    justify-content: center;
}

h3 {
    font-size: 27px;
}

hr {
    border: 1px solid grey;
    margin-left: 2em;
    margin-right: 2em;
}



.long {
    font-size: 24px;
}

.verylong {
    font-size: 17px;
}

img {
    margin-right: 1em;
}

