.headInfo {
    font-size: 1.5em; font-weight: bold;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* .table{
    margin-right: 15px;
    margin-left: 15px;
} */

th{
    font-size: 1.4em;
    text-align: center;
}

td{
    font-size: 1.4em;
    text-align: center;
}

