<!-- <google-chart style="display: none" #chart [type]="myType3" [(data)]="myData"
  [(columnNames)]="columnNames" [width]="myWidth" [height]="myHeight">
</google-chart> -->
<button style="position: absolute; right: 30px;
top: 11em; z-index: 1000;" mat-button class="btn btn-info"
  (click)="confirm();">Sitzung
  abschließen</button>
<div class="navbar headInfo">
  Gesamtsummen:
</div>

<div class="navbar">
  <p class="headInfo">Menge: {{Menge}}</p>
  <p class="headInfo">Umsatz: <i style="text-align: right">{{Umsatz}} €</i></p>
  <p class="headInfo">davon <i>{{Gutschein}} €</i> Gutschein </p>

</div>

<hr>

<!-- <div #chartDiv3 id="chart_div3">
  <mat-spinner style="margin-left: 43%; margin-top: 10%; margin-bottom: 10%">
  </mat-spinner>
</div>

<hr>

<div #chartDiv id="chart_div">
  <mat-spinner style="margin-left: 43%; margin-top: 20%"></mat-spinner>
</div>

<div #chartDiv2 id="chart_div2">
  <mat-spinner style="margin-left: 43%; margin-top: 20%"></mat-spinner>
</div> -->

<table id="contentToConvert" mdbTable striped="true" class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th *ngFor="let head of headElements; let i = index"
        aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements"
        [sortBy]="headElements[i]">{{head | titlecase}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of elements; let i = index">
      <th scope="row">{{el.produkt}}</th>
      <td>{{el.Groesse}}</td>
      <td>{{el.Preis}}</td>
      <td>{{el.Menge}}</td>
      <td>{{el.Umsatz}}</td>
      <td>{{el.Kosten}}</td>
      <td>{{el.Gewinn}}</td>
    </tr>
  </tbody>
</table>

<!-- <div style="display: block">
    <canvas baseChart
            [data]="myData2"
            [labels]="columnNames2"
            [chartType]="chartType"></canvas>
  </div> -->