<button [disabled]="checkEmpty()" style="margin-left:10%; margin-right: 10%;"
    id="checkout" class="btn-success" (click)="placeOrder()">zur
    Kasse <i class="far fa-hand-point-up"></i></button>



<!-- placeOrder Overlay -->
<div #paymentOverlay id="paymentOverlay" class="overlay fade-in">
    <h1>Zahlungsabwicklung</h1>
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn"
        (click)="off(paymentOverlay)">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
        <form #f="ngForm" (submit)="finishOrder()">
            <div class="col kosten">
                <label><i class="fas fa-money-bill-alt"></i> Kosten: </label>
                <label #price id="price"></label>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <label class="opt">Gutschein</label>
                    </div>
                    <input #voucher type="number" step="0.01" min="0" name="voucher"
                        oninput="validity.valid||(value='');" id="voucher"
                        [(ngModel)]="voucherAmount" placeholder="Gutscheinbetrag"
                        (keyup)="calculateChange(voucher.value, price.innerHTML, change.innerHTML, moneyReceived.value, drinkMoney.value)"
                        name="model" #VoucherModel="ngModel">

                </div>
                <div style="float: right" class="col">
                    <button #btn50
                        (click)="inputMoney(btn50.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="50"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        50 €</button>
                    <button #btn20
                        (click)="inputMoney(btn20.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="20"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        20 €</button>
                    <button #btn10
                        (click)="inputMoney(btn10.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="10"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        10 €</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- <label class="opt">Nummer</label> -->
                    <input type="number" step="0.01" min="0"
                        oninput="validity.valid||(value='');" id="voucherNumber"
                        name="voucherNumber" [(ngModel)]="voucherNumber"
                        [required]="voucherAmount != 0 || voucherAmount != undefined"
                        [disabled]="voucherAmount == 0 || voucherAmount == undefined"
                        placeholder="Gutscheinnummer"
                        [ngStyle]="{'border': voucherAmount != 0 && voucherAmount != undefined ? '3px solid red' : 'black'}"
                        (keyup)="calculateChange(voucher.value, price.innerHTML, change.innerHTML, moneyReceived.value, drinkMoney.value)">
                    <span class="help-block danger"
                        *ngIf="VoucherModel.errors?.required && VoucherModel.touched">
                        The model name is required
                    </span>
                    <label id="Restbetrag"> </label>
                    <label id="voucherLeft"></label>
                </div>
                <div style="float: right" class="col">
                    <button #btn5
                        (click)="inputMoney(btn5.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="5"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        5 €</button>
                    <button #btn2
                        (click)="inputMoney(btn2.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="2"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        2 €</button>
                    <button #btn1
                        (click)="inputMoney(btn1.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="1"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        1 €</button>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>

                <div style="float: right; z-index: 1000;" class="col">
                    <button #btn05
                        (click)="inputMoney(btn05.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="0.5"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        0,50 €</button>
                    <button #btn02
                        (click)="inputMoney(btn02.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="0.2"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        0,20 €</button>
                    <button #btn01
                        (click)="inputMoney(btn01.value); calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)"
                        type="button" class="btn-info" value="0.1"
                        [ngStyle]="drinkMoneymode == true && {'backgroundColor': '#28a745'}">
                        0,10 €</button>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: -6em;">
                    <div class="row">
                        <label class="nec">Geld erhalten</label>
                    </div>
                    <input #moneyReceived inputType="numeric" type="number"
                        step="0.01" min="0" oninput="validity.valid||(value='');"
                        id="moneyReceived" placeholder="Eingabe Gelderhalten"
                        (keyup)="calculateChange(voucher.value,price.innerHTML, change.innerHTML,moneyReceived.value, drinkMoney.value)">
                </div>
                <button type="button"
                    (click)="deleteInput(moneyReceived, drinkMoney, btnSwitch)"
                    class="btn-custom"
                    style="margin-right: 0.1em; color:white">Eingabe löschen</button>
                <button type="button" #btnSwitch
                    (click)="drinkMoneymode = !drinkMoneymode; input = 0; switchText(btnSwitch)"
                    class="btn-custom">Trinkgeld eingeben</button>

            </div>
            <div class="row">
                <div class="col" style="margin-top: -4.5em;">
                    <!-- <label class="opt">Trinkgeld</label> -->
                    <input #drinkMoney type="number" step="0.01" min="0"
                        oninput="validity.valid||(value='');" id="drinkMoney"
                        placeholder="Trinkgeld"
                        (keyup)="calculateChange(voucher.value, price.innerHTML, change.innerHTML, moneyReceived.value, drinkMoney.value)">
                </div>

            </div>
            <div class="row">

            </div>
            <div class="col kosten">
                <label><i class="fas fa-hand-holding-usd"></i> Rückgeld: </label>
                <label #change id="change"></label>
            </div>

            <button [disabled]="f.invalid || !condition" type="submit"
                class="btn btn-success">Bestellung
                abschließen <i class="far fa-hand-point-up"></i>
            </button>
        </form>
        <div class="overView">
            <!-- <h1>Übersicht</h1> -->
            <div id="cartOverview" class="navbar shopppingCart">
            </div>
        </div>
    </div>
</div>