.cart {
    height: 12em;
    width: 50%;
}

.navbar {
    justify-content: center;
    min-height: 0;
}

.form-control {
    height: 2em;
    font-size: 2.5em;
    text-align: center;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}

label {
    color: white;
    font-size: 1.3em;
    margin-left: 0.5em;
}

input {
    text-align: center;
    font-size: 1.3em;
    height: 2em;
    margin-left: 0.5em;
}

.overView {
    margin-left: 5em;
    margin-right: 5em;
    background: radial-gradient(lightgreen, tomato);
    border-radius: 100px;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.row{
    text-align: left;
}

.col {
    font-size: 1.42em;
    margin-top: 0.5em;
}

.opt {
    color: #e0a800;
    margin-left: 5em;
}

.btn-info {
    margin-top: 0.1em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    width: 110px;
    height: 100px;
    border-radius: 10px;
    font-size: 1.5em;
}

.btn-custom{
    color: white;
    background-color: #555555;
    margin-top: 0.5em;
    margin-left: 1.5em;
    margin-right: 2.6em;
    width: 155px;
    height: 70px;
    border-radius: 10px;
    font-size: 1.5em;
}

.nec {
    color: #dc3545;
    margin-left: 4em;
}

.kosten {
    font-size: 4vw;
}

.navbar {
    justify-content: center;
}

.btn {
    border-radius: 25px;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 200px;
    font-size: 50px;
    border: 1px solid black;
}

.btn-success {
    border-radius: 25px;
    text-align: center;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-bottom: 0.25em;
    font-size: 3em;
    border: 1px solid black;
}

.overlay-content {
    margin-top: 0;
}