<!-- Header of the main page -->
<div class="navbar">
    <img class="mobile-logo preload-me"
        src="./assets/cat-stairs-header_mobil.jpg"
        width="270" height="95" sizes="274px" alt="CAT-stairs" role="presentation" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" routerLink='/monitor'>
    <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"> <a routerLink='/'>BarTool</a>
        </li>
        <li role="presentation" routerLinkActive="active"> <a
                routerLink='/verwaltung'>Verwaltung</a></li>

        <!-- Google Charts wont reload without reloading the window -->
        <li role="presentation" routerLinkActive="active"> <a
                routerLink='/auswertung'>Auswertung</a>
        </li>
    </ul>
</div>

<p style="position: absolute; top: 5px; right: 15px" id="nutzer"></p>

<hr>

<div class="content" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</div>