<!-- using produkteName for display the names only once  -->
<div class="products navbar">
    <button mat-button [ngStyle]="{backgroundColor: getColor(i)}"
        class="btn btn-secondary button"
        *ngFor="let name of produkteName; let i = index;" [id]="name"
        (click)="ChooseQuantityAndSize(name)"
        [ngClass]="{'long': (name.length > 8), 'verylong': (name.length > 14)}">{{name}}
    </button>
</div>

<hr>

<!--  -->
<cart [overlay]="overlay"></cart>

<!--  -->
<overlay [produkte]="produkte"></overlay>
