<!-- Product Overlay -->
<div #login id="login" class="overlay fade-in">
  <!-- the currently displayed product -->
  <h1 class="title">BarTool Login</h1>
  <!-- Button to close the overlay -->
  <!-- Overlay content -->
  <div class="overlay-content">
    <div class="form-group">
      <form #f="ngForm" name="theForm">
        <input [(ngModel)]="log" #LogModel="ngModel" name="model" #loginInput
          id="logon" type="text" class="form-control" placeholder="Nutzer"
          pattern="^[a-zA-Z1-9]+$" required>
        <button [disabled]="f.invalid" class="btn btn-secondary"
          (click)="_login(loginInput.value); off(login)">login</button>
      </form>
    </div>
    <p style="color: white; position: absolute;
    bottom: 0;
    left: 15px;">Version 1.0</p>
    <p style="color: white; position: absolute;
    bottom: 0;
    right: 15px;">&#169; 2019 Justin Rutkowski All Rights Reserved</p>
  </div>
</div>