<!-- Product Overlay -->
<div #overlay id="overlay" class="overlay fade-in">
    <!-- the currently displayed product -->
    <h1 #title class="title" id="title"></h1>
    <!-- Button to close the overlay -->
    <a href="javascript:void(0)" class="closebtn" (click)="off(overlay)">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content">
        <div class="form-group">
            <label>Menge</label>
            <!-- mat-select to improve the UX of the select -->
            <mat-select #amount [(value)]="selected" class="form-control"
                id="amountList">
                <mat-option value=1>1</mat-option>
                <mat-option value=2>2</mat-option>
                <mat-option value=3>3</mat-option>
                <mat-option value=4>4</mat-option>
                <mat-option value=5>5</mat-option>
                <mat-option value=6>6</mat-option>
                <mat-option value=7>7</mat-option>
                <mat-option value=8>8</mat-option>
                <mat-option value=9>9</mat-option>
                <mat-option value=10>10</mat-option>
            </mat-select>
        </div>
        <!-- show only the sizes for the coresponding product  -->
        <h6 style="margin-top: 1.5em" class="title">Größe</h6>
        <ng-container *ngFor="let item of produkte" class="navbar">
            <button class="btn btn-secondary" *ngIf="item.Art == title.innerHTML" class="btn btn-secondary"
                (click)="addToCart(item, amount.value, containerNew)">{{item.Groesse}} L
            </button>
        </ng-container>
    </div>
</div>

<div class="navbar">
    <div #containerOld id="containerOld" class="cart">
        <h3>letzte Bestellung</h3>
        <button *ngFor="let item of cartProdukteOld" value="{{item.Preis}}"
            style="background-color: lightgrey"
            class="cartItem">{{item.Art + " | " + item.Menge + " X " + item.Groesse + ' Liter'}}

        </button>
    </div>
    <div #containerNew style="border-left: solid 4px black;" id="containerNew"
        class="cart slide-up">
        <h3>aktuelle Bestellung</h3>
        <button #product *ngFor="let item of cartProdukte; let i = index" value="{{item.Preis}}"
        style="background-color: white"
        (click)="cartItemOverlayOn(containerNew, product, item)"
            class="cartItem">{{item.Art + " | " + item.Menge + " X " + item.Groesse + ' Liter'}}</button>
    </div>
</div>

<!-- Shopping Cart Overlay -->
<div #cartItemOverlay id="cartItemOverlay" class="overlay fade-in">
    <h1 class="title" id="title2"></h1>

    <!-- Button to close the overlay -->
    <a href="javascript:void(0)" class="closebtn"
        (click)="off(cartItemOverlay)">&times;</a>
    <!-- Overlay content -->
    <div class="overlay-content navbar">

        <button id="deleteButton" type="submit" class="cartItemOverlay">Entfernen <i
                class="far fa-hand-point-up"></i></button>

                <!-- just naming this one edit caused problems -->
        <button id="editButton" type="submit" class="cartItemOverlay">Bearbeiten <i
                class="far fa-hand-point-up"></i></button>
    </div>
</div>