::ng-deep .mat-select-trigger {
    min-width: 65vw;
    font-size: 29px;
    text-align: center;

}

 ::ng-deep .mat-select-panel {
    max-height: 115vw !important;
}

button:hover {
    color: red;
}

.cart {
    height: 12em;
    width: 50%;
}

h3 {
    text-align: center;
    border-bottom: solid 4px black;
    font-weight: bolder;
}

.navbar {
    justify-content: center;
    min-height: 0;
}

label {
    color: white;
    font-size: 3em;
}

.form-group {
    -webkit-appearance: none;
    margin-left: 8em;
    margin-right: 8em;
}

.form-control {
    height: 2em;
    font-size: 2.5em;
    text-align: center;
}

.btn {
    border-radius: 25px;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 150px;
    width: 200px;
    font-size: 50px;
}

.btn-success {
    border-radius: 25px;
    text-align: center;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-bottom: 0.25em;
    font-size: 3em;
    border: 1px solid black;
}

.cartItemOverlay {
    background-color: #c11c0e;
    color: black;
    border-radius: 25px;
    text-align: center;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-top: 3em;
    margin-bottom: 0.25em;
    font-size: 4em;
    border: 1px solid black;
}